@import '@fontsource/josefin-sans/400.css';
@import '@fontsource/bentham/400.css';

@import "tailwindcss";
/* @import "tailwindcss-animate"; */

@theme {
  --font-jose: "Josefin Sans", sans-serif;
  --font-bentham: "Bentham", serif;
  --font-matchbox: "Matchbox", serif;

  --font-sans: var(--font-jose);
  --font-serif: var(--font-bentham);
  --font-heading: var(--font-matchbox);
  
  --color-primary: var(--color-red-700);
  --color-primary-foreground: var(--color-red-100);
  --color-secondary: var(--color-slate-800);
  --color-secondary-foreground: var(--color-slate-200);
  --color-accent: var(--color-red-500);
  --color-accent-foreground: var(--color-red-200);
  --color-foreground: var(--color-red-300);
  --color-background: var(--color-slate-900);

  --color-accent: var(--color-red-200);
  --color-accent-foreground: var(--color-red-200);
  --color-muted: var(--color-slate-500);
  --color-muted-foreground: var(--color-slate-200);

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-red-200);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-matchbox);
  }
  html {
    scroll-padding-top: 80px;
  }

  html {
    /* Apply standard or WebKit scrollbar styles here for the whole page */
    scrollbar-color: #500 #200; /* Standard */
    scrollbar-width: thin; /*Standard */

    /* scrollbar-gutter: stable both-edges; */
    /* scrollbar-gutter: stable; */
    background-color: #200000;
    margin: 0;
    padding: 0;
  }

  html::-webkit-scrollbar {
    width: 12px;
  }
  
  html::-webkit-scrollbar-track {
    background: #200;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #500;
  } 
}
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

@font-face {
  font-family: 'Matchbox';
  src: url('/fonts/Matchbox.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))) fixed;
}

.glitch-text {
  position: relative;
  color: white;
  text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.25), -3px -3px 0 rgba(228, 255, 26, 0.25);
  animation: glitch 2s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.25), -3px -3px 0 rgba(228, 255, 26, 0.25);
  }
  1% {
    text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.25), -3px -3px 0 rgba(228, 255, 26, 0.25);
  }
  2% {
    text-shadow: 3px -3px 0 rgba(255, 0, 0, 0.25), -3px 3px 0 rgba(228, 255, 26, 0.25);
  }
  3% {
    text-shadow: 3px -3px 0 rgba(255, 0, 0, 0.25), -3px 3px 0 rgba(228, 255, 26, 0.25);
  }
  4% {
    text-shadow: -3px -3px 0 rgba(255, 0, 0, 0.25), 3px 3px 0 rgba(228, 255, 26, 0.25);
  }
  5% {
    text-shadow: -3px -3px 0 rgba(255, 0, 0, 0.25), 3px 3px 0 rgba(228, 255, 26, 0.25);
  }
  6% {
    text-shadow: -3px 3px 0 rgba(255, 0, 0, 0.25), 3px -3px 0 rgba(228, 255, 26, 0.25);
  }
  7% {
    text-shadow: -3px 3px 0 rgba(255, 0, 0, 0.25), 3px -3px 0 rgba(228, 255, 26, 0.25);
  }
  8% {
    text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.25), -3px -3px 0 rgba(228, 255, 26, 0.25);
  }
  100% {
    text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.25), -3px -3px 0 rgba(228, 255, 26, 0.25);
  }
}
