---
import Layout from "@/layouts/Layout.astro";

import UserLinks from "@/components/userLinks.svelte";
import RecordingStudioButtons from "@/components/RecordingStudioButtons.astro";
import MusicComponent from "@/components/musicProvider/music.astro";

import { getImages } from "@/assets/galary/images";
import Gallery from "@/components/Gallery.tsx";

const images = await getImages({
  densities: [1.5, 2],
  imageTransform: {
    format: "webp",
  },
});

const songlink = "https://open.spotify.com/track/1oVkgKH3hOvflNq43leLBi";
import example from "./_example.json";
---

<Layout
  title="Noam Miko"
  description="Guelph audio recording and editing studio"
>
  <main
    class="flex h-full min-h-screen justify-center bg-gradient-to-tl bg-repeat bg-scroll overflow-y-auto scrollbar-hide scrollbar-custom from-black from-20% via-40% to-80% to-black via-red-950"
  >
    <div class="w-full h-full max-w-4xl text-center text-white">
      <h1 class="pointer-events-none text-6xl m-4">Noam Miko</h1>

      <div class="max-w-80 mx-auto">
        <UserLinks
          client:idle="svelte"
          links={[
            {
              href: "https://www.tiktok.com/@noam.mikomusic?_t=ZM-8u3YhR5AXLC&_r=1",
              type: "tiktok",
            },
            {
              type: "youtube",
              href: "https://www.youtube.com/@NoamMiko",
            },
            {
              href: "https://open.spotify.com/artist/0gUcy53MSITsECduF7jt2l?si=y6q6aBEaSkabScRdjv4Twg",
              type: "spotify",
            },
            // "br",
            {
              href: "https://www.instagram.com/noam.mikomusic/",
              type: "instagram",
            },
            {
              href: "https://maps.app.goo.gl/qZG9dowqgBdJa95L6",
              type: "location",
            },
          ]}
        />
      </div>

      <div class="flex flex-col place-content-between mt-1 md:mt-8">
        <div class="mb-4">
          <h2 class="pointer-events-none text-4xl mt-4">
            Miko Recording Studio Guelph
          </h2>

          <RecordingStudioButtons />
        </div>

        <div class="hidden self-center">
          <h2 class="pointer-events-none text-4xl mt-4">Gallery</h2>

          <Gallery images={images} client:load />
        </div>

        <div>
          <h2 class="text-4xl mt-8">My Music</h2>
          <div class="m-2">
            <MusicComponent
              songlink={songlink}
              data={example as any}
              webOnly={false}
              bgColourClass="bg-rose-200"
              textColourClass="text-rose-200"
            />
            <!-- emerald-300 -->
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* Custom scrollbar for Chrome, Safari, and Opera */
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }

  /* Custom scrollbar for Firefox */
  .scrollbar-custom {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }
</style>
