---
import Layout from "@/layouts/Layout.astro";

import SongDemo from "@/components/songDemo.svelte";
import Spinner from "@/components/SpinnerRect.svelte";
import { Icon } from "astro-icon/components";
---

<Layout title="Noam Miko" , description="Guelph recording and editing Studio">
  <main
    class="flex h-full min-h-screen justify-center bg-gradient-to-tl bg-repeat bg-scroll overflow-y-auto scrollbar-hide scrollbar-custom from-black from-20% via-40% to-80% to-black via-red-950"
  >
    <div class="w-full h-full md:px-2 text-center text-white">
      <h1 class="pointer-events-none text-6xl m-4">Noam Miko</h1>

      <div class="max-w-80 mx-auto">
        <Spinner
          client:idle="svelte"
          revolutionTimeSeconds={3}
          lineWidth={5}
          lineLength={25}
          cornerRadius={6}
          showPath={false}
          width={311}
          height={76}
          classNames="bg-inherit p-5 drop-shadow-md rounded-md w-full flex justify-between text-white text-4xl"
          lineColour="rgb(69 10 10)"
        >
          <a
            href="https://www.tiktok.com/@noam.mikomusic?_t=ZM-8u3YhR5AXLC&_r=1"
            aria-label="TikTok"><Icon name="fa-brands:tiktok" /></a
          >
          <a aria-disabled="true" aria-label="YouTube"
            ><Icon name="fa-brands:youtube" class="text-white/30" /></a
          >
          <a
            href="https://open.spotify.com/artist/0gUcy53MSITsECduF7jt2l?si=y6q6aBEaSkabScRdjv4Twg"
            aria-label="Spotify"><Icon name="fa-brands:spotify" /></a
          >
          <a
            href="https://music.apple.com/ca/artist/noam-miko/1770122422"
            aria-label="Apple Music"><Icon name="simple-icons:applemusic" /></a
          >
          <a
            href="https://www.instagram.com/noam.mikomusic/"
            aria-label="Instagram"><Icon name="fa-brands:instagram" /></a
          >
        </Spinner>
      </div>

      <div
        class="flex flex-col md:flex-row place-content-between md:items-baseline"
      >
        <div class="mb-4">
          <h2 class="pointer-events-none text-4xl mt-4">Miko recording studio</h2>

        <div
          class="grid grid-cols-2 gap-4 p-2 md:max-w-96 md:justify-self-center"
        >
          <a
            href="?"
            aria-label="Rate and Bundles"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
            >
              Rate and Bundles
          </a>
          <a
            href="mailto:Noamtoven@gmail.com?subject=Studio%20session%20booking%20request"
            aria-label="Book session"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
            >
              Book session
          </a>
          <a
            href="https://www.dropbox.com/scl/fo/ax0yrpp4165iir4knepsc/ANeBbvSW7TndxePfg5WMwt8?rlkey=bth1wuyms1trg2it5eah3t26u&e=1&st=qu9wz6so&dl=0"
            aria-label="Portfolio"
            target="_blank"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
          >
            Portfolio
          </a>
          <a
            href="?"
            aria-label="Gallary"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
          >
            Gallary
          </a>
        </div>
      </div>

        <div>
          <h2 class="text-4xl mt-8">My Music</h2>
          <div class="h-24 m-2 md:min-w-80 md:h-64">

            <div class="hidden md:block">
              <div style="max-width:100%;">
                <div
                  style="position:relative;padding-bottom:calc(56.25% + 52px);height: 0;"
                >
                  <iframe
                    style="position:absolute;top:0;left:0;"
                    width="100%"
                    height="100%"
                    src="https://odesli.co/embed/?url=https%3A%2F%2Fsong.link%2Fi%2F1771197405&theme=dark"
                    frameborder="0"
                    allowfullscreen
                    sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox"
                    allow="clipboard-read; clipboard-write"></iframe>
                </div>
              </div>
            </div>
            
            <div class="block md:hidden">
              <iframe
                width="100%"
                height="150"
                src="https://odesli.co/embed/?url=https%3A%2F%2Fsong.link%2Fi%2F1771197405&theme=dark"
                frameborder="0"
                allowfullscreen
                sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox"
                allow="clipboard-read; clipboard-write"></iframe>
            </div>
          </div>
        </div>

    </div>
    </div>
  </main>
</Layout>

<style>
  /* Custom scrollbar for Chrome, Safari, and Opera */
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }

  /* Custom scrollbar for Firefox */
  .scrollbar-custom {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }
</style>
