---
import Layout from "@/layouts/Layout.astro";
import Spinner from "@/components/SpinnerCard.astro"
import Spinner2 from "@/components/SpinnerRect.svelte"
---

<Layout title="Noam Miko Studio", description="Homepage for Noam Miko Studio.\nWork in progress coming soon!">
    <main class="bg-white flex h-full justify-center">
        <Spinner
            class="text-center place-self-center p-6 drop-shadow-md rounded-sm bg-secondary font-sans"
        >
            <h1 class="text-8xl pb-4">Noam Miko Studio</h1>
            <p class="text-3xl underline text-stone-300">
                More info coming soon...
            </p>
        </Spinner2>
    </main>
</Layout>
