---
import Layout from "@/layouts/Layout.astro";

import SongDemo from "@/components/songDemo.svelte";
import Spinner from "@/components/SpinnerRect.svelte";
import { Icon } from "astro-icon/components";
import RecordingStudioButtons from "@/components/RecordingStudioButtons.svelte";
import SongLink from "@/components/OdesliEmbed.astro";
---

<Layout title="Noam Miko" , description="Guelph recording and editing Studio">
  <main
    class="flex h-full min-h-screen justify-center bg-gradient-to-tl bg-repeat bg-scroll overflow-y-auto scrollbar-hide scrollbar-custom from-black from-20% via-40% to-80% to-black via-red-950"
  >
    <div class="w-full h-full md:px-2 text-center text-white">
      <h1 class="pointer-events-none text-6xl m-4">Noam Miko</h1>


      <div class="max-w-80 mx-auto">
        <Spinner
          client:idle="svelte"
          revolutionTimeSeconds={3}
          lineWidth={5}
          lineLength={25}
          cornerRadius={6}
          showPath={false}
          width={311}
          height={76}
          classNames="bg-inherit p-5 drop-shadow-md rounded-md w-full flex justify-between text-white text-4xl"
          lineColour="rgb(69 10 10)"
        >
          <a
            href="https://www.tiktok.com/@noam.mikomusic?_t=ZM-8u3YhR5AXLC&_r=1"
            aria-label="TikTok"><Icon name="fa-brands:tiktok" /></a
          >
          <a aria-disabled="true" aria-label="YouTube"
            ><Icon name="fa-brands:youtube" class="text-white/30" /></a
          >
          <a
            href="https://open.spotify.com/artist/0gUcy53MSITsECduF7jt2l?si=y6q6aBEaSkabScRdjv4Twg"
            aria-label="Spotify"><Icon name="fa-brands:spotify" /></a
          >
          <a
            href="https://music.apple.com/ca/artist/noam-miko/1770122422"
            aria-label="Apple Music"><Icon name="simple-icons:applemusic" /></a
          >
          <a
            href="https://www.instagram.com/noam.mikomusic/"
            aria-label="Instagram"><Icon name="fa-brands:instagram" /></a
          >
        </Spinner>
      </div>

      <div
        class="flex flex-col md:flex-row place-content-between md:items-baseline"
      >
        <div class="mb-4">
          <h2 class="pointer-events-none text-4xl mt-4">Miko recording studio</h2>

          <RecordingStudioButtons client:idle="svelte" />
      </div>

        <div>
          <h2 class="text-4xl mt-8">My Music</h2>
          <div class="h-24 m-2 md:min-w-80 md:h-64">
            <div class="hidden md:block">
              <SongLink id="1771197405" size="large" dark={true} />
            </div>
            
            <div class="block md:hidden">
              <SongLink id="1771197405" size="medium" dark={true} />
            </div>
          </div>
        </div>

    </div>
    </div>
  </main>
</Layout>

<style>
  /* Custom scrollbar for Chrome, Safari, and Opera */
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }

  /* Custom scrollbar for Firefox */
  .scrollbar-custom {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }
</style>
