---
import Layout from "@/layouts/Layout.astro";
import Spinner from "@/components/SpinnerCard.astro"
import Spinner2 from "@/components/SpinnerRect.svelte"
---

<Layout title="Noam Miko Studio", description="Homepage for Noam Miko Studio.\nWork in progress coming soon!">
    <main class="flex h-full justify-center">
        <Spinner2 
          client:idle
          revolutionTimeSeconds={6}
          lineWidth={5}
          lineLength={5} 
          showPath={false} 
          width={1000}
          height={180}
          classNames="text-center place-self-center p-5 drop-shadow-md rounded-md bg-secondary font-sans" 
          lineColour="rgb(252 211 77)"
        >
            <h1 class="text-8xl pb-4">Noam Miko Studio</h1>
            <p class="text-3xl underline text-stone-300">
                More info coming soon...
            </p>
        </Spinner2>
    </main>
</Layout>
