---
import Layout from "@/layouts/Layout.astro";

import SongDemo from "@/components/songDemo.svelte";
import Spinner from "@/components/SpinnerRect.svelte";
import { Icon } from "astro-icon/components";
---

<Layout title="Noam Miko" , description="Guelph recording and editing Studio">
  <main
    class="flex h-full min-h-screen justify-center bg-gradient-to-tl bg-repeat bg-scroll overflow-y-auto scrollbar-hide scrollbar-custom from-black from-20% via-40% to-80% to-black via-red-950"
  >
    <div class="w-full h-full md:px-2 text-center text-white">
      <h1 class="text-6xl m-4">Noam Miko</h1>

      <div class="max-w-80 mx-auto">
        <Spinner
          client:idle="svelte"
          revolutionTimeSeconds={3}
          lineWidth={5}
          lineLength={25}
          cornerRadius={6}
          showPath={false}
          width={311}
          height={76}
          classNames="bg-inherit p-5 drop-shadow-md rounded-md w-full flex justify-between text-white text-4xl"
          lineColour="rgb(69 10 10)"
        >
          <a href="?" aria-label="TikTok"><Icon name="fa-brands:tiktok" /></a>
          <a aria-disabled="true" aria-label="YouTube"
            ><Icon name="fa-brands:youtube" class="text-white/30" /></a
          >
          <a href="?" aria-label="Spotify"><Icon name="fa-brands:spotify" /></a>
          <a href="?" aria-label="Apple Music"
            ><Icon name="simple-icons:applemusic" /></a
          >
          <a href="?" aria-label="Instagram"
            ><Icon name="fa-brands:instagram" /></a
          >
        </Spinner>
      </div>

      <div
        class="flex flex-col md:flex-row place-content-between md:items-baseline"
      >
        <div>
          <h2 class="text-4xl mt-8">My Music</h2>
          <div class="h-24 m-2 md:min-w-80 md:h-64">
            <SongDemo client:load="svelte" />
          </div>
        </div>

        <div>
          <h2 class="text-4xl mt-4">Miko recording studio</h2>
          <div class="h-72 m-2 blur">
            <div class="bg-gray-300 h-full text-6xl select-none content-center">
              temporary
            </div>
          </div>
        </div>

        <div class="pb-64 md:pb-0"></div>
        <div
          class="grid grid-cols-2 md:grid-cols-1 gap-4 p-2 absolute md:relative md:max-w-96 md:justify-self-center bottom-0 left-0 right-0"
        >
          <a
            href="?"
            aria-label="Book a Session"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
          >
            Book Session
          </a>
          <a
            href="?"
            aria-label="Gallary"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
          >
            Gallary
          </a>
          <a
            href="?"
            aria-label="Portfolio"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
          >
            Portfolio
          </a>
          <a
            href="?"
            aria-label="Contact me"
            class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
          >
            Contact me
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* Custom scrollbar for Chrome, Safari, and Opera */
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
  }

  /* Custom scrollbar for Firefox */
  .scrollbar-custom {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }
</style>
