---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Redirecting..." description="Tracking page">
  <Fragment slot="head">
    <meta http-equiv="refresh" content="1;url=/" />
    <meta name="referrer" content="no-referrer" />
    <script>
      import campaigns from "@/assets/campaigns.json";

      const params = new URLSearchParams(window.location.search);
      const campaignId = params.get("campaign");
      const campaignData = campaigns.campaigns[campaignId];

      if (window && campaignData) {
        // Construct the target URL with UTM parameters
        const targetUrl = new URL("/", window.location.origin);
        Object.keys(campaignData).forEach((key) =>
          targetUrl.searchParams.set(key, campaignData[key]),
        );

        // Redirect to target URL
        window.location.href = targetUrl.toString();

        // Clean up the URL in browser history
        window.history.replaceState(null, "", "/");
      } else {
        // If no campaign data, redirect to home page without parameters
        window.location.href = "/";
      }
      // console.log(campaignData);
    </script>
  </Fragment>
  <div class="text-center text-white text-xl md:text-5xl font-bold w-full h-screen items-center justify-center flex">
    <p>Redirecting you to the <a class="text-red-200 hover:text-red-300 hover:underline hover:cursor-pointer" href="/" >homepage</a>...</p>
  </div>
</Layout>
