---
import { Link } from "@/components/ui/link.tsx";
import StudioTitle from "@/components/StudioTitle.astro";
import { SocialDropdown } from "./socialDropdown";

interface Props {
  menuItems: Array<{ href: string; label: string; active: boolean }>;
}

const { menuItems } = Astro.props;
---

<div class="flex justify-between items-center w-full">
  <a href="/">
    <StudioTitle size="sm" />
  </a>

  {/* Desktop Menu */}
  <div class="hidden xl:flex gap-6 text-white items-center px-4 text-center">
    {
      menuItems.map((item) => (
        <a
          href={item.href}
          class={`hover:text-red-300 transition ${item.active ? "text-red-300" : ""}`}
        >
          {item.label}
        </a>
      ))
    }
    <SocialDropdown client:idle />
  </div>

  <div class="flex items-center gap-2">
    <Link
      href="/prices-and-bundles#book-session"
      className="bg-red-600 hover:bg-red-700 text-white"
    >
      Book a Session
    </Link>
  </div>
</div>
