<div>
  <b class="text-xl">1 SONG BUNDLE</b>
  <p>$119.50</p>
  <p>Includes 2 hours of studio time + Pro Mix + Pro master ($150 value)</p>
</div>
<br />

<div>
  <b class="text-xl">2 SONGS BUNDLE</b>
  <p>$199.50</p>
  <p>
    Includes 3 hours of studio time + 2 Pro mix’s + 2 Pro masters ($270 value)
  </p>
</div>
<br />

<div>
  <b class="text-xl">Current rates</b>

  <p>$34.95 hourly recording rate</p>
  <p>$80 Professional Mix</p>
  <p>$35 Professional Master</p>
</div>
<br />

<div>
  <b class="text-xl">Mix and master combo discount</b>
  <p>$75 includes Mix and master ($90 value)</p>

  <b class="text-xl">Instrumentals/Beats</b>
  <p>$50 for an existing beat</p>

  <p>$100 for custom beat</p>

  <p>Exclusive prices are negotiable</p>
</div>
