---
import RatesAndBundles from "./RatesAndBundles.astro";
import ModalButton from "./ModalButton.svelte";

import { getImages } from "@/assets/galary/images";
import Gallery from "@/components/Gallery.tsx";

const images = await getImages({
  densities: [1.5, 2],
  imageTransform: {
    format: "webp",
  },
});
---

<div class="grid grid-cols-2 gap-4 p-2 md:max-w-96 md:justify-self-center">
  <ModalButton
    aria_label="Rates and Bundles"
    classNames="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
    text="Current Prices"
    id="ratesAndBundles"
    client:idle="svelte"
  >
    <slot name="header">
      <h2 class="text-white text-2xl">Rates And Bundles</h2>
    </slot>
    <div class="text-white">
      <RatesAndBundles />
    </div>
  </ModalButton>
  <a
    href="mailto:Noamtoven@gmail.com?subject=Studio%20session%20booking%20request"
    aria-label="Book session"
    class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
  >
    Book session
  </a>
  <a
    href="https://www.dropbox.com/scl/fo/ax0yrpp4165iir4knepsc/ANeBbvSW7TndxePfg5WMwt8?rlkey=bth1wuyms1trg2it5eah3t26u&e=1&st=qu9wz6so&dl=0"
    aria-label="Portfolio"
    target="_blank"
    class="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
  >
    Portfolio
  </a>
  <ModalButton
    aria_label="Gallery"
    classNames="h-28 min-w-32 bg-black/40 border-red-950 border-4 rounded-xl place-content-center"
    text="Gallery"
    id="gallery"
    client:idle="svelte"
  >
    <slot name="header" />
    <div class="block lg:hidden px-2">
      <Gallery images={images} buttons={false} className="max-w-xl" client:visible />
    </div>
    <div class="hidden lg:block px-16">
      <Gallery images={images} buttons={true} className="max-w-xl" client:visible />
    </div>
  </ModalButton>
</div>
