---
import BundleList from "./bundleList.tsx";
import { getPricesAndBundles } from "@/components/priceNbundles/sheetdb";
import FullProject from "./fullProject.tsx";

const prices = await getPricesAndBundles();
const defaultPrice = prices[0];
---

<h1 class="text-center text-5xl md:text-7xl font-bold mb-16 tracking-wider">
    PRICES AND BUNDLES
</h1>

<BundleList defaultCurrentPrice={defaultPrice} client:load />

<FullProject client:idle />
