---
import StudioTitle from "@/components/StudioTitle.astro";
import { Mail, Phone } from "lucide-react";
---

<footer class="bg-black/50 py-8 mt-12 relative z-10 grow-0">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <div class="flex flex-col mb-2 items-center">
          <StudioTitle size="md" />
        </div>
        <p>Professional audio production services</p>
      </div>
      <div class="flex flex-col sm:flex-row items-center gap-6">
        <!-- phone -->
          <a href="tel:+12266062452" class="text-gray-400 hover:text-red-300 transition flex gap-2 items-center">
            <Phone className="w-4 h-4 text-red-400" />
            (226) 606-2452
          </a>
        <!-- email -->
        <a href="mailto:noam@miko-recordingstudio.ca" class="text-gray-400 hover:text-red-300 transition flex gap-2 items-center">
          <Mail className="w-4 h-4 text-red-400" />
          noam@miko-recordingstudio.ca
        </a>
      </div>
    </div>
    <div class="mt-6 text-center text-sm text-gray-400">
      © {new Date().getFullYear()} MIKO Recording Studio. All rights reserved.
    </div>
  </div>
</footer>
