---
import "@/styles/globals.css";

import { SEO } from "astro-seo";
import { getImagePath } from "astro-opengraph-images";

interface Props {
    title: string;
    description?:string
}

const { title, description = "Page description goes here, can be long but needs keywards" } = Astro.props;
const { url, site } = Astro;
const openGraphImageUrl = getImagePath({ url, site });
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: "website",
                    image: openGraphImageUrl,
                    url: url,
                },
                optional:{
                    description: description
                }
            }},
           twitter={{
            card: "summary_large_image",
            title: title,
            description: description,
            image: openGraphImageUrl,
            site: site
          }}
            extend={{
                // extending the default link tags
                link: [
                    {
                        rel: "icon",
                        type: "image/svg+xml",
                        href: "/favicon.svg",
                    },
                ],
                // extending the default meta tags
                meta: [
                    {
                        name: "generator",
                        content: Astro.generator,
                    },
                ],
            }}
        />
    </head>
    <body>
        <slot />
    </body>
</html>
