---
import BaseLayout from "./Page.astro";
const { frontmatter } = Astro.props;
const tags = frontmatter.tags || [];
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  currentPage={frontmatter.pageId}
>
  <section class="w-full lg:w-3/4 2xl:w-[800px] mx-auto p-8 text-xl flex flex-col gap-2" id="content">
    <slot />
  </section>
</BaseLayout>

<style is:global lang="scss">
  section#content {
    > * {
      @apply self-center;
    }
    p {
      padding-top: 0.5rem /* 8px */;
    }
    p:first-child {
      padding-top: 0 /* 0px */;
    }
  }
</style>
