---
import { Link } from "@/components/ui/link.tsx";
import StudioTitle from "@/components/StudioTitle.astro";
import { NavigationBar as MobileNav } from "./NavbarMobile.tsx";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;

// Define menu items in a single array to ensure consistency
const menuItems = [
  { href: "/", label: "Home", active: currentPage === "home" },
  {
    href: "/prices-and-bundles",
    label: "Prices and Bundles",
    active: currentPage === "prices",
  },
  // {
  //   href: "/portfolio", TODO:
  //   label: "Portfolio",
  //   active: currentPage === "portfolio",
  // },
  { href: "/#gallery", label: "Gallery", active: false },
  { href: "/faq", label: "FAQ", active: currentPage === "faq" },
  { href: "/about-me", label: "About Me", active: currentPage === "about-me" },
  // { href: "/my-music", label: "My Music", active: currentPage === "music" },
  // { href: "/contact", label: "Contact", active: currentPage === "contact" },
];
---

<nav
  class="p-4 flex justify-between items-center fixed top-0 left-0 right-0 w-full z-[100] transition-all duration-300 bg-transparent"
  id="navbar"
>
  <script>
    const navbar = document.getElementById("navbar");
    const scrolledClasses = ["bg-black/80", "backdrop-blur-md"];
    const notScrolledClasses = ["bg-transparent"];

    function updateScroll() {
      const scrolled = window.scrollY > 50;
      navbar.classList.add(
        ...(scrolled ? scrolledClasses : notScrolledClasses),
      );
      navbar.classList.remove(
        ...(scrolled ? notScrolledClasses : scrolledClasses),
      );
    }

    window.addEventListener("scroll", updateScroll);
    updateScroll();
  </script>
  <a href="/">
    <StudioTitle size="sm" />
  </a>

  {/* Desktop Menu */}
  <div class="hidden md:flex gap-6 text-white">
    {
      menuItems.map((item) => (
        <a
          href={item.href}
          class={`hover:text-red-300 transition ${item.active ? "text-red-300" : ""}`}
        >
          {item.label}
        </a>
      ))
    }
    <!-- <SocialDropdown /> TODO: -->
  </div>

  <div class="flex items-center gap-2">
    <Link
      href="/prices-and-bundles#book-session"
      className="bg-red-600 hover:bg-red-700 text-white"
    >
      Book a Session
    </Link>

    <MobileNav menuItems={menuItems} client:load />
  </div>
</nav>
